---
layout: default
---

		<!-- ===== PAGE HEADER ===== -->
			<header class="page-header" style="height:100px">
				
				<div class="page-header-inner">
					    <div class="container">

        
        <h1 class="logo"><a href="/">Mourning Coffee</a></h1>
				<nav class="navigation">
          
            <ul class="menu">

                <li class="menuitem"><a href="/#latest-episodes">Latest Episodes</a></li>
                <li class="menuitem"><a href="/all-episodes">All Episodes</a></li>
                <li class="menuitem"><a href="/#about">About</a></li>
            </ul>
            
            <a href="#" class="btn-hamburguer-menu"><i class="fa fa-bars"></i></a>
        </nav>
        


    </div>
					</div>
				</div>
			</header>

<main id="main" class="main">
			
			<!-- ===== PODCAST LIST ===== -->
			<section id="#episodes" class="section-positive">
				<div class="container">
					
					<!-- ===== SECTION TITLE ===== -->
					<h2 id="featured-episodes" class="title-default">All Episodes</h2>
					<h3 id="ep-tabs"><a id="mcclassics" class="tab active-tab">MC&nbsp;Classics</a> &nbsp;&nbsp; <a id="season1" class="tab">Season&nbsp;1</a> &nbsp;&nbsp; <a id="season2" class="tab">Season&nbsp;2</a></h3>
					{% assign episodes = site.episodes | sort: 'number' %}
					<div id="mcclassicsC" class="episode-tab-content">
						{% for top_episode in site.mc_classics %}
							{% for episode in episodes %}					
									{% if episode.number == top_episode %}
										{% include all-episode-card.html %}
									{% endif %}
							{% endfor %}
						{% endfor %}
					</div>
					<div id="season2C" class="episode-tab-content">
						{% for episode in episodes reversed %}
								{% assign season = episode.number | split: '' | first %}	
								{% if season == '2' %}
									{% include all-episode-card.html %}
								{% endif %}
						{% endfor %}
					</div>
					<div id="season1C" class="episode-tab-content">
						{% for episode in episodes reversed %}					
								{% assign season = episode.number | split: '' | first %}
								{% if season == '1' %}
									{% include all-episode-card.html %}
								{% endif %}
						{% endfor %}
					</div>
					
				</div>
			</section>
		</main>

		<script>
		
		</script>