---
layout: default
---

		<!-- ===== PAGE HEADER ===== -->
{% include header.html %}

<main id="main" class="main">
			
			<!-- ===== PODCAST LIST ===== -->
			<section id="#episodes" class="section-positive">
				<div class="container">
					
					<!-- ===== SECTION TITLE ===== -->
					<h2 id="featured-episodes" class="title-default">Latest Episode</h2>
					
					{% assign episodes = site.episodes | sort: 'number' %}
					{% for episode in episodes reversed %}
						{% if forloop.first %}
							{% include top-episode-card.html %}
							{% break %}
						{% endif %}
					{% endfor %}
					
					<h2 class="title-default">Featured Episodes</h2>

					{% for top_episode in site.top_episodes %}
						{% for episode in episodes %}
							{% if episode.number == top_episode %}
								{% include episode-card.html %}
								{% break %}
							{% endif %}
						{% endfor %}
					{% endfor %}





			

					<div class="row">
						<div class="col-sm-12 mb-50">
							<a href="podcasts.html" class="btn btn-primary btn-block btn-lg">View more episodes</a>
						</div>
					</div>
					
				</div>
			</section>
		</main>