
<!-- ===== FOOTER ===== -->
<footer class="footer">

    <!-- ===== FOOTER CONTENT INFORMATION ===== -->


    <!-- ===== FOOTER INFORMATION ===== -->
    <section class="footer-credits">
        <div class="container">

            <div class="row">

                <!-- ===== CREDIT LOGO ===== -->
                <div class="col-sm-6" style="color: white">

                </div>

                <!-- ===== CREDIT LOGO ===== -->
                <div class="col-sm-6 text-right">
                    Mourning Coffee - 2018. All rights reserved.
                </div>

            </div>

        </div>
    </section>

</footer>

<!-- =================================== -->
<!-- 			  SCRIPTS 				 -->
<!-- =================================== -->

<!-- JQUERY -->
<script src="/assets/js/jquery-1.11.min.js"></script>


<!-- BOOTSTRAP JS -->
<script src="/assets/js/bootstrap.min.js"></script>

<!-- MEDIA ELEMENT -->
<script src="/assets/js/mediaelement-and-player.min.js"></script>

<!-- MAGNIFIC POPUP -->
<script src="/assets/js/magnific-popup.min.js"></script>

<!-- PLACEHOLDER FOR IE -->
<script src="/assets/js/placeholder.min.js"></script>
<script src="/assets/js/moment-min.js"></script>
<script src="/assets/js/episodes.js"></script>

<script src="https://static.sekandocdn.net/static/feednami/feednami-client-v1.1.js"></script>



<!-- THEME JS -->
<script src="/assets/js/main.js"></script>