			<header class="page-header" style="background-image: url(/assets/img/hero-image.jpg)">
				<div class="page-header-inner">
    <div class="container header-container">

        
        <h1 class="logo"><a href="/">Mourning Coffee</a></h1>

        
        <nav class="navigation">
          
            <ul class="menu">

                <li class="menuitem"><a href="/#featured-episodes">Featured Episodes</a></li>
                <li class="menuitem"><a href="/all-episodes">All Episodes</a></li>
                <li class="menuitem"><a href="/#about">About</a></li>
            </ul>
            
            <a href="#" class="btn-hamburguer-menu"><i class="fa fa-bars"></i></a>
        </nav>

    </div>
				</div>
			</header>