---
layout: default
---

<!-- ===== PAGE HEADER ===== -->
			<header class="page-header" style="background-image: url(/episode-images/{{page.image}})">
				
				<div class="page-header-inner">
					    <div class="container">

        
        <h1 class="logo"><a href="/">MOURNING COFFEE</a></h1>

        


    </div>
					<div class="container" style="padding-top: 50vh;">

					<div class="podcast-content">
            <h2 class="podcast-title">{{page.title}}</h2>
            <p class="podcast-excerpt">{{content}}</p>
            <div class="podcast-hero-player-content">
                <div class="player-container">
                    <audio src="{{page.audio}}"></audio>
                </div>
            </div>

      </div>
					</div>

						


					</div>
				</div>
			</header>
		
		
		